@charset "utf-8";

/* HIDDEN */
.hidden-lg{display:none !important;}
.space_top{margin-top:40px}

/* HEADER */
h1{position:fixed;z-index:9999;color:#fff;padding:0 5%; line-height:58px;font-family:'Poppins', sans-serif;font-weight:500;font-size:20px;letter-spacing:1px;}
.header{position:fixed;z-index:999;top:0;width:100%;background:rgba(0,0,0,.8);}
.header ul:after{content:"";display:block;clear:both}
.header ul {padding-right:5%;float:right;}
.header ul li{float:left;box-sizing:border-box;padding:0 20px}
.header ul li a{display:block;text-align:center;height:60px;line-height:60px;font-size:16px;text-decoration:none;color:#b8b8b8;font-family:'Poppins', sans-serif;font-weight:600;letter-spacing:3px;}
.header ul li.on a{color:#FFF;}

/* WRAP CONTAINER */
#wrap_container{margin:0 auto;}
#wrap_container:after{content:'';display:block;clear:both;}   

/* CONTENT */
.content{position:relative;}
.content .cnt01{background:#2d303f}
.content .cnt03{background:#2d303f}
.content .cnt02{background:#383439;}
.content .cnt04{background:#FFF}

/* INTRO */
.mySlides{width:100%;position:relative;}
.slick-slider{position:relative;display:block;box-sizing:border-box;overflow-x:hidden;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100vh;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:none;}
.slick-arrow.slick-hidden{display:none;}
.slick-prev{cursor:pointer;display:inline-block;z-index:9999;background:url(../images/arr_visual_prev1.png) no-repeat center;height:2px;width:2px;font-size:0;border:0;position:absolute;top:50%;margin-top:-40px;left:40px;border-radius:50%;}
.slick-next{cursor:pointer;display:inline-block;z-index:9999;background:url(../images/arr_visual_next1.png) no-repeat center;height:2px;width:2px;font-size:0;border:0;position:absolute;top:50%;margin-top:-40px;right:40px;border-radius:50%;}
.slick-dots{position:absolute;bottom:30px;left:50%;width:100%;z-index:100;text-align:center;margin-left:-24px}
.slick-dots li{float:left;font-size:0;cursor:pointer;height:20px;width:20px;margin:0 2px;display:inline-block;transition:background-color 0.6s ease;background:url(../images/dot_off.png) no-repeat center;}
.slick-dots button{display:none;padding:0;margin:0;}
.slick-dots .slick-active{background:url(../images/dot_on.png) no-repeat center;}
.slick-prev:focus{outline:none;}
.slick-next:focus{outline:none;}
.m_slogan{position:absolute;text-align:left;color:#fff;margin:0 auto;left:5%;top:25%;z-index:88; height:auto;word-break:keep-all;display:block;overflow:hidden;}
.m_slogan h3{opacity:0;font-size:120px;letter-spacing:-2px;margin:0 0 50px;text-shadow:0 1px 1px rgba(0,0,0,.5);line-height:1.2;font-weight:600;font-family:'Poppins', sans-serif;}
.m_slogan h3 span{font-weight:600;font-family:'Poppins', sans-serif;display:block;}
.m_slogan h3{transition-timing-function:ease-in;-webkit-animation:ani_effect 1s;animation:ani_effect 1s;animation-fill-mode:forwards;animation-delay:0.5s;}
.m_slogan p{opacity:0;position:relative;font-size:28px;text-shadow:0 1px 1px rgba(0,0,0,.5);font-family:'Poppins', sans-serif;}
.m_slogan p span{display:block;font-size:20px;}
.m_slogan p{transition-timing-function:ease-in;-webkit-animation:ani_effect 1s;animation:ani_effect 1s;animation-fill-mode:forwards;animation-delay:0.8s;}
.m_slogan p br{display:none;}

/* TITLE */
h2{font-family:'Poppins', sans-serif;font-weight:600;font-size:80px; line-height:100px;margin-bottom:40px}
h2 span{display:block;font-size:20px; line-height:50px;}
h3{display:block; color:#fff; font-size:20px; font-weight:500; margin-bottom:10px }

/* ABOUT */
.about_page{position: relative;padding:10% 5% 0;}
.about_page .about_img{position:absolute;right:8%; padding:20px;background: #fff; width:380px; }
.about_page .about_img .name{padding-top:15px;text-align:right;color:#000;font-family:'Poppins', sans-serif;letter-spacing:3px;}
.about_page .about_img img{width:100%}
.about_page .about_txt{width:calc(100% - 450px);}
.about_page .about_txt p{color:#fff;}

/*  SKILL  */
.skill_bg {float:left;width:50%;height:100%;background:url(../images/skill_bg.jpg) center;background-size:cover!important;}
.skill_txt {padding:5% 5% 0 55%;color:#fff; }
.skill_txt h3{font-size:26px; font-weight:600; margin-bottom:20px; font-family:'Poppins', sans-serif;}
.skill_txt .inner{position: relative; min-height:64px; margin-bottom:20px}
.skill_txt .inner img{position:absolute; width:50px;vertical-align:middle;}
.skill_txt .inner p{font-size: 12px; color: #fff; display: inline-block; margin:0 84px;}
.skill_txt .inner p strong{position:absolute; right:0; font-family:'Poppins', sans-serif; font-size:15px; top:25px}
progress{margin-left:84px; height: 10px; width:calc(100% - 84px); display: inline-block; border: none;}
/* IE10 */
progress {color:#d70707;}
/* Firefox */
progress::-moz-progress-bar{background:#d70707;}
/* Chrome */
progress::-webkit-progress-value {background:#d70707;}
/* Polyfill */
progress[aria-valuenow]:before{background:#d70707;}
/* Firefox , Polyfill */
progress,progress[role][aria-valuenow] {background: #bcbcbc; !important;}
/* Chrome */
progress::-webkit-progress-bar {background: #bcbcbc;}

/* WORK */
.work_page{position: relative;padding:5% 5% 0;}
.swiper-wrapper {position: relative;width: 100%;height: 100%;z-index: 1;display: flex;transition-property: transform;box-sizing: content-box;}
.swiper-container-pointer-events {touch-action: pan-y;}
.swiper-container {margin-left: auto;margin-right: auto;position: relative;overflow: hidden;list-style: none;padding: 0;z-index: 1;width:100%;}
.swiper-slide {float:left;font-size: 18px;padding:0;}
.swiper-slide {flex-shrink: 0;width: 100%;height: 100%;position: relative;transition-property: transform;}
.swiper-slide .thumb {background: #ebebeb; margin:0 auto;padding:10%;text-align:center}
.swiper-slide .thumb img {width:100%;}
.swiper-slide .subject {padding:20px 0 5px;font-size:18px;font-weight: bold;color:#1a3b4a;}
.swiper-slide .subject br{display:none;}
.swiper-slide .summery {font-size:13px;color:#AAAAAA;}
.swiper-slide .summery span{display:inline-block;position:relative;padding-left:15px;margin-left:10px}
.swiper-slide .summery span:before{display:inline-block;position:absolute;top:4px;left:1px;width:1px;height:12px;background:#ccc;content:'';}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 4px;}
.swiper-pagination {text-align:center;margin:40px auto;}
.swiper-pagination-bullet {width: 15px;height: 15px;display: inline-block;border-radius: 50%;background: #000;opacity: .2;}
.swiper-pagination-bullet-active {background: #df0000;opacity: 1;}

/* CONTACT */
.contact_page {background:#848484; text-align:center; padding:2% 0; color:#fff; line-height:30px; font-size:15px}
.contact_page span{padding-left:8px}


/** 1200px 시작 **/
@media (max-width:1200px) {	
	
	.space_top{margin-top:20px}

	.m_slogan{top:35%;}	
	.m_slogan h3{font-size:80px;}
	
	.about_page{padding:15% 5% 0;}
	.about_page .about_img{width:300px;}

	.skill_bg {width:40%;}
	.skill_txt {padding:10% 5% 0 45%;}
	.skill_txt .inner p span{display:none;}

	.work_page{padding:10% 5% 0;}

}
/** 1200px 끝 **/


/** 780px 시작 **/
@media (max-width:780px) {	

	/* HIDDEN */
	.hidden-xs{display:none !important;}
	.hidden-lg{display:block !important;}
	.space_top{margin-top:15px}
	
	/* HEADER */
	h1{display:none}
	.header ul {padding-right:5%;}
	.header ul li{padding:0 15px}
	.header ul li a{font-size:15px;letter-spacing:0px;}
	
	/* INTRO */
	.m_slogan{top:28%;}
	.m_slogan h3{font-size:45px;font-weight:500;margin:0 0 20px;}
	.m_slogan h3 span{display:block;}
	.m_slogan p{position:relative;font-size:16px; line-height:20px}
	.m_slogan p span{font-size:15px;padding-top:5px; line-height:20px}
	.m_slogan p br{display:block;}

	/* TITLE */
	h2 {font-size:40px;line-height:50px; margin-bottom:10px}
	h2 span{display:block;font-size:14px; line-height:20px;}
	
	/* ABOUT */	
	.about_page{padding:80px 5% 0;}
	.about_page .about_img {position: static;padding:10px;width:140px;margin:20px 0}
	.about_page .about_img p{display:none;}
	.about_page .about_txt{width:100%;}
	.about_page .about_txt p{font-size:12px;}

	/*  SKILL  */
	.skill_bg {width:30%;background:url(../images/skill_bg.jpg) center right;}
	.skill_txt {padding:80px 5% 0 35%;}	
	.skill_txt h3{font-size:20px; margin-bottom:15px}
	.skill_txt .inner {min-height:57px;}
	.skill_txt .inner img{width:45px;}
	.skill_txt .inner p{font-size: 11px; margin:0;}
	progress{margin-left:64px; width:calc(100% - 64px); }

	/* WORK */
	.work_page{padding:80px 5% 0;}
	.swiper-wrapper {padding-top:20px}
	.swiper-slide .subject {padding:20px 0 5px;font-size:14px;}
	.swiper-slide .subject br{display:block;}
	.swiper-slide .summery span{display:block;padding-left:0;margin-left:0}
	.swiper-slide .summery span:before{display:none;}

	/* CONTACT */
	.contact_page {padding:4% 0; line-height:20px; font-size:12px}
	

}
/** 780px 끝 **/



/** 400px 시작 **/
@media (max-width:400px) {	
	
	.swiper-slide .subject {padding:20px 0 5px;font-size:12px;}
	.swiper-slide .summery span{font-size:11px;}	


}
/** 400px 끝 **/



